if SHIELD_SATORI_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "Satori Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_STUDIO_LOCKING
    default n

config ZMK_STUDIO_LOCK_ON_DISCONNECT
    default n

config ZMK_USB
    default y

config BT
    default y

config ZMK_BLE
    default y

config BT_BAS
    default n

endif

if SHIELD_SATORI_SPLIT_LEFT || SHIELD_SATORI_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif