#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/behaviors.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { /*Layer 0*/
            display-name = "Base";
            /*
                                                                                                      Keyboard Layout Diagram
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │      ESC      │       Q       │       P       │       O       │       U       │     BLANK     │         │       V       │       L       │       D       │       F       │       Z       │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │  BOOTLOADER   │       A       │       Þ       │       E       │       I       │       W       │         │       G       │       T       │       N       │       S       │       C       │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
                            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
                            │     BLANK     │       B       │      ING      │       Y       │     BLANK     │         │       K       │       H       │       M       │       J       │       X       │
                            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     BLANK     │      META     │     SHIFT     │      CTRL     │     SPACE     │   BACKSPACE   │         │RETURN /L2 / L4│  R / L1 / L3  │      ALT      │     SHIFT     │     META      │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            */

            bindings = <
                                                         &kp ESC   &kp Q   &kp P   &kp O   &kp U   &none          &kp V   &kp L   &kp D   &kp F   &kp Z   &none
                                                     &bootloader   &kp A   &thorn   &kp E   &kp I   &kp W          &kp G   &kp T   &kp N   &kp S   &kp C   &none
                                                                        &none   &kp B   &ing   &kp Y   &none          &kp K   &kp H   &kp M   &kp J   &kp X
                &none   &kp LEFT_META   &kp LEFT_SHIFT   &kp LEFT_CONTROL   &kp SPACE   &mm_BACKSPACE_DEL          &lt_RETURN_L2_L4   &lt_R_L1_L3   &kp LEFT_ALT   &kp RIGHT_SHIFT   &kp RIGHT_META   &none
            >;
        };

        numbers_layer { /*Layer 1*/
            display-name = "Numbers";
            /*
                                                                                                      Keyboard Layout Diagram
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │       F1      │       F2      │       F3      │       F4      │       F5      │       F6      │         │       F7      │       F8      │       F9      │      F10      │      F11      │      F12      │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     BLANK     │       0       │       1       │       2       │       3       │       4       │         │       5       │       6       │       7       │       8       │       9       │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
                            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
                            │       .       │       ,       │       (       │       )       │       =       │         │     BLANK     │       +       │       -       │       *       │       /       │
                            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     TRANS     │     TRANS     │     TRANS     │     TRANS     │     TRANS     │     TRANS     │         │      NONE     │      NONE     │      NONE     │      NONE     │      NONE     │      NONE     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            */

            bindings = <
                                                         &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6          &kp F7   &kp F8   &kp F9   &kp F10   &kp F11   &kp F12
                                           &none   &kp KP_N0   &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp KP_N4          &kp KP_N5   &kp KP_N6   &kp KP_N7   &kp KP_N8   &kp KP_N9   &none
                                        &kp KP_DOT   &kp KP_COMMA   &kp KP_LPAR   &kp KP_RPAR   &kp KP_EQUAL          &none   &kp KP_PLUS   &kp KP_MINUS   &kp KP_MULTIPLY   &kp KP_DIVIDE
                                                         &trans   &trans   &trans   &trans   &trans   &trans          &none   &none   &none   &none   &none   &none
            >;
        };

        symbols_layer { /*Layer 2*/
            display-name = "Symbols";
            /*
                                                                                                      Keyboard Layout Diagram
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
                            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
                            │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
                            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     TRANS     │     TRANS     │     TRANS     │     TRANS     │     TRANS     │     TRANS     │         │      NONE     │      NONE     │      NONE     │      NONE     │      NONE     │      NONE     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            */
            bindings = <
                                                         &bootloader   &none   &none   &none   &none   &none          &none   &none   &none   &none   &none   &none
                                                      &studio_unlock   &none   &none   &none   &none   &none          &none   &none   &none   &none   &none   &none
                                                                       &none   &none   &none   &none   &none          &none   &none   &none   &none   &none
                                                         &trans   &trans   &trans   &trans   &trans   &trans          &none   &none   &none   &none   &none   &none
            >;
        };
        navigation_layer { /*Layer 3*/
            display-name = "Navigation";
            /*
                                                                                                      Keyboard Layout Diagram
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
                            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
                            │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
                            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     TRANS     │     TRANS     │     TRANS     │     TRANS     │     TRANS     │     TRANS     │         │      NONE     │      NONE     │      NONE     │      NONE     │      NONE     │      NONE     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            */
            bindings = <
                                                         &bootloader   &none   &none   &none   &none   &none          &none   &none   &none   &none   &none   &none
                                                      &studio_unlock   &none   &none   &none   &none   &none          &none   &none   &none   &none   &none   &none
                                                                       &none   &none   &none   &none   &none          &none   &none   &none   &none   &none
                                                         &trans   &trans   &trans   &trans   &trans   &trans          &none   &none   &none   &none   &none   &none
            >;
        };


        utility_layer { /*Layer 4*/
            display-name = "Utility";
            /*
                                                                                                      Keyboard Layout Diagram
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │  BOOTLOADER   │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │    STUDIO     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
                            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
                            │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
                            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     TRANS     │     TRANS     │     TRANS     │     TRANS     │     TRANS     │     TRANS     │         │      NONE     │      NONE     │      NONE     │      NONE     │      NONE     │      NONE     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            */
            bindings = <
                                                         &bootloader   &none   &none   &none   &none   &none          &none   &none   &none   &none   &none   &none
                                                      &studio_unlock   &none   &none   &none   &none   &none          &none   &none   &none   &none   &none   &none
                                                                       &none   &none   &none   &none   &none          &none   &none   &none   &none   &none
                                                         &trans   &trans   &trans   &trans   &trans   &trans          &none   &none   &none   &none   &none   &none
            >;
        };

        /*blank_layer { *//*Layer #*//*
            display-name = "Layer";
            *//*
                                                                                                      Keyboard Layout Diagram
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
                            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
                            │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │         │     BLANK     │     BLANK     │     BLANK     │     BLANK     │     BLANK     │
                            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     TRANS     │     TRANS     │     TRANS     │     TRANS     │     TRANS     │     TRANS     │         │      NONE     │      NONE     │      NONE     │      NONE     │      NONE     │      NONE     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            *//*
            bindings = <
                                                         &bootloader   &none   &none   &none   &none   &none          &none   &none   &none   &none   &none   &none
                                                      &studio_unlock   &none   &none   &none   &none   &none          &none   &none   &none   &none   &none   &none
                                                                       &none   &none   &none   &none   &none          &none   &none   &none   &none   &none
                                                         &trans   &trans   &trans   &trans   &trans   &trans          &none   &none   &none   &none   &none   &none
            >;
        };*/
    };
};

/ {
    macros {
        thorn: thorn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp T &kp H>
                ;
        };
        ing: ing {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp I &kp N &kp G>
                ;
        };
    };
};

/ {
    behaviors {
        lt_R_L1_L3: layer_tap_r_l1_l3 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&lt 1 R> <&lt 3 R>;
            hold_trigger_key = <MOD_LSFT>;
            hold_behavior = <&sl MOD_LSFT>;
        };

        lt_RETURN_L2_L4: layer_tap_return_l2_l4 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&lt 2 RETURN> <&lt 4 RETURN>;
            hold_trigger_key = <MOD_LSFT>;
            hold_behavior = <&sl MOD_LSFT>;
        };

        mm_BACKSPACE_DEL: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <2>;
            bindings = <BKSP> <DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
