#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { /* Layer 0 – Base */
            display-name = "Base";
            /*
                                                                                                        Keyboard Layout Diagram
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │  bootloader   │       Q       │       P       │       O       │       U       │     BLANK     │         │       V       │       L       │       D       │       F       │       Z       │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     BLANK     │       A       │       Þ       │       E       │       I       │       W       │         │       G       │       T       │       N       │       S       │       C       │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
                            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
                            │     BLANK     │       B       │      ING      │       Y       │     BLANK     │         │       K       │       H       │       M       │       J       │       X       │
                            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐         ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
            │     BLANK     │      META     │     SHIFT     │      CTRL     │     SPACE     │   BACKSPACE   │         │     RETURN    │       R       │      ALT      │     SHIFT     │     META      │     BLANK     │
            └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘         └───────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘
            */

            bindings = <
                                                  &bootloader   &kp Q   &kp P   &kp O   &kp U   &none                   &kp V   &kp L   &kp D   &kp F   &kp Z   &none

                                                       &none   &kp A   &thorn   &kp E   &kp I   &kp W                   &kp G   &kp T   &kp N   &kp S   &kp C   &none

                                                                 &none   &kp B   &ing   &kp Y   &none                   &kp K   &kp H   &kp M   &kp J   &kp X

                &none   &kp LEFT_META   &kp LEFT_SHIFT   &kp LEFT_CONTROL   &kp SPACE   &kp BACKSPACE                   &kp RETURN   &kp R   &kp LEFT_ALT   &kp RIGHT_SHIFT   &kp RIGHT_META   &none
            >;
        };
    };
};

/ {
    macros {
        thorn: thorn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp T &kp H>
                ;
        };
        ing: ing {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp I &kp N &kp G>
                ;
        };
    };
};
